section#creations {

   width: 100%;

   display       : flex;
   flex-direction: column;

   padding: 8rem;

   .creationsHeader {

      color: #000;

      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;

      display        : flex;
      align-items    : center;
      justify-content: space-between;

      width: 100%;

      padding-bottom: 10rem;
      flex-wrap     : wrap;


      h2 {

         font-size     : 5rem;
         font-weight   : inherit;
         text-transform: uppercase;
      }

      a {

         background: transparent;
         border    : solid 1px #000;
         cursor    : pointer;

         font-size     : 1.8rem;
         font-weight   : 400;
         letter-spacing: .5rem;
         text-transform: uppercase;

         padding: 1.2rem 3rem 1rem 3rem;

         transition: all .3s;

         &:hover {

            background: #000;
            box-shadow: 0 0 2.5rem #0003;
            color     : #fff;
         }
      }
   }
}

@media only screen and (max-width:665px) {


   section#creations {


      padding: 0rem;

      .creationsHeader {

         color: #000;

         font-family: 'Josefin Sans', sans-serif;
         font-weight: 300;

         display        : flex;
         align-items    : center;
         justify-content: space-between;

         width: 100%;

         padding-bottom: 10rem;
         flex-wrap     : wrap;


         h2 {

            font-size: 4rem;

         }

         a {

            font-size: 1.8rem;

            padding: 1.2rem 3rem 1rem 3rem;
         }

      }
   }
}