//
header#header {

   background         : url(../../public/images/desktop/image-hero.jpg);
   background-size    : cover;
   background-position: center;

   min-height: 80vh;
   height    : 80rem;
   height    : clamp(60rem, 80vh, 100rem);
   width     : 100%;

   position: relative;

   .darkOverlay {

      position: absolute;

      background: #0008;
      width     : 100%;
      height    : 100%;
   }

   .headerContainer {

      display       : flex;
      flex-direction: column;

      width    : 100%;
      max-width: 192rem;

      margin: 0 auto;

      z-index: 100;

      .headerNavBox {

         display: flex;

         position: relative;
         top     : 0;
         left    : 0;

         padding   : 3rem;
         min-height: 10vh;

         .screenBox {

            width : 100%;
            height: 100%;

            display        : flex;
            justify-content: space-between;

            position: relative;

            #logo {

               min-width: 20rem;
               z-index  : 100;

               img {

                  transition: width .05s;
               }
            }

            nav {

               display: flex;

               @include MultpleLinks;
            }

            button#menuButton {

               background: transparent;
               border    : none;

               display: none;

               width : 4.5rem;
               height: 4.5rem;

               position: absolute;
               top     : -1rem;
               right   : 0rem;

               z-index: 2000;

               .animatedMenu {

                  height: 100%;
                  width : 100%;

                  &:before {

                     content: '';

                     background   : #fff;
                     border-radius: .5rem;

                     width : 4rem;
                     height: .5rem;

                     position: absolute;
                     top     : 30%;
                     left    : 5%;

                     transition: transform .3s;
                  }

                  &:after {

                     content: '';

                     background   : #fff;
                     border-radius: .5rem;

                     width : 2.5rem;
                     height: .5rem;

                     position: absolute;
                     bottom  : 30%;
                     left    : 38%;

                     transition: .3s;
                  }
               }
            }
         }
      }

      .headerTextBox {

         border     : solid 2px #fff;
         font-family: 'Josefin Sans', sans-serif;

         box-sizing: content-box;

         display    : flex;
         align-items: center;

         width: 90%;
         width: clamp(25rem, 60vw, 70rem);

         padding: 4rem 2rem;

         transform: translate(clamp(5rem, 5vw, 15rem), clamp(15rem, 20vh, 30rem));

         p {

            color         : #fff;
            text-transform: uppercase;

            font-size: 4.5rem;
            font-size: clamp(3rem, 8vw, 7rem);

            font-weight: 200;
         }
      }
   }

}

@media only screen and (max-width: 670px) {

   header#header {

      .headerContainer {

         height: 100%;
         width : 100%;

         .headerNavBox {

            .screenBox {

               padding: 0;

               &::-webkit-scrollbar {
                  display: none;
               }

               h1#logo {

                  img {
                     width: clamp(15rem, 50vw, 20rem);
                  }
               }

               nav#nav {

                  width     : 100%;
                  min-height: 35rem;

                  flex-direction : column;
                  align-items    : flex-start;
                  justify-content: center;

                  padding: 1rem;

                  display: none;

                  a {

                     min-width: 50%;

                     span {

                        font-size: clamp(2rem, 14vw, 7rem);
                     }
                  }

                  a+a {

                     margin: 0;
                  }

                  #navA1 {

                     animation-delay: .1s;
                  }

                  #navA2 {

                     animation-delay: .15s;
                  }

                  #navA3 {

                     animation-delay: .2s;
                  }

                  #navA4 {

                     animation-delay: .25s;
                  }

                  #navA5 {

                     animation-delay: .3s;
                  }
               }

               button#menuButton {

                  display  : flex;
                  font-size: 0;
               }
            }
         }

         .headerTextBox {

            display    : flex;
            align-items: center;
            box-sizing : border-box;

            height: 30rem;
            height: clamp(20rem, 25vw, 40rem);
            width : clamp(20rem, 80vw, 40rem);

            padding: .5rem;
            margin : 15rem auto 0 auto;

            transform: translate(0, 0);

            p {

               font-size: clamp(3rem, 10vw, 5rem);
            }
         }

         .onScreen {

            background: #000;

            width: 100%;

            position: fixed;
            top     : 0;
            left    : 0;
            bottom  : 0;
            right   : 0;

            z-index: 100;

            .screenBox {

               position: absolute;
               top     : 0;
               left    : 0;

               padding: 3rem;

               overflow-y: scroll;

               #logo {

                  position: absolute;
               }

               #nav {

                  display: flex !important;

                  position: relative;
                  top     : 4rem;


                  a {

                     animation-name     : slideLeft;
                     animation-duration : .3s;
                     animation-fill-mode: backwards;

                     span {
                        font-size: 5rem;
                     }

                  }
               }

               button#menuButton {

                  position: fixed;
                  top     : 2rem;
                  right   : 2.5rem;

                  .animatedMenu {

                     &:before {

                        transform: rotate(225deg);
                        top      : 45%;
                     }

                     &:after {

                        transform: rotate(315deg);

                        width: 4rem;

                        bottom: 45%;
                        left  : 4%;
                     }
                  }
               }
            }
         }
      }
   }
}