// 
#us {

   display    : flex;
   align-items: flex-end;
   width      : 100%;

   padding: 20rem 0;

   .usBoxOne {

      width: 60%;

      img {

         width: 100%;
      }
   }

   .usBoxTwo {

      background: #fff;

      width: 60%;

      padding      : 5rem clamp(2rem, 3.6vw, 8rem);
      margin-left  : -15rem;
      margin-bottom: -15rem;

      p {

         color    : #696969;
         font-size: 1.8rem;
         font-size: clamp(1.8rem, 1.5vw, 3rem);

         margin-top: 6rem;
      }
   }
}

@media only screen and (max-width:700px) {

   #us {

      display       : flex;
      flex-direction: column;

      padding: 0;

      .usBoxOne {

         display        : flex;
         justify-content: center;

         width: 100%;

         padding: 2rem 0;
         margin : 8rem 0 3rem 0;

         img {

            width: clamp(25rem, 90%, 100rem);
         }
      }

      .usBoxTwo {

         background: #fff;
         text-align: center;


         width: 100%;

         padding: clamp(4rem, 5vw, 8rem) 2rem;
         margin : 2rem auto;

         p {
            margin-top: 8rem;
         }

      }
   }

}